<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>PriceStat</title>
    <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/static/assets/css/Sidebar-Menu-1.css">
    <link rel="stylesheet" href="/static/assets/css/Sidebar-Menu.css">
    <link rel="stylesheet" href="/static/assets/css/styles-1.css">
    <link rel="stylesheet" href="/static/assets/css/styles.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {packages: ['corechart', 'line']});

        google.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Date', 'Discount price', 'Price'],
                {% for obj in products.price %}
                    [new Date('{{ obj.date|date}}'),{{ obj.price }}, {{ obj.old_price }}],
                {% endfor %}
            ]);

            var dateTicks = [];

            for (var m = {{products.price.0.date|date:"n" }}; m <= {{products.price.last.date|date:"n" }}+1; m++)
                    dateTicks.push(new Date('2021-' + m + '-1'));

            var options = {
                    legend: { position: 'bottom' },
                    axisTitlesPosition:'in',
                    height: 400,
                    hAxis: {format: 'MMMM',  ticks: dateTicks  },
                };

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
            chart.draw(data, options);

            // Paul Irish’s Debounced resize plug-in
            $(window).smartresize(function () {
            chart.draw(data, options);
            });
        }
    </script>
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md d-xl-flex align-items-xl-end navigation-clean" style="background-color: #1C461C;">
        <div class="container">
            <div class="row d-flex justify-content-start align-items-center" style="margin-right: 0px;margin-left: 0px;height: 83%;min-height: 100%;margin-top: -6px;">
                <div class="col-12 col-sm-4 col-md-3 col-lg-5 col-xl-5 text-left d-flex justify-content-center align-items-center justify-content-sm-center justify-content-md-center justify-content-lg-center" style="height: 100%;padding: 0px;"><a class="navbar-brand d-flex justify-content-center align-items-center" href="/" style="color: rgb(255,255,255);height: 43px;">Price-Stat</a></div>
                <div class="col-12 col-sm-8 col-md-9 col-lg-7 col-xl-7" style="height: 100%;width: 100%;">
                    <form class="form-inline d-flex justify-content-center align-items-center mr-auto" target="_self" style="height: 100%;width: 100%;">
                        <div class="form-group">
                            <div class="form-row d-flex justify-content-center align-items-center" style="height: 100%;width: 93%;">
                                <div class="col-2 d-flex justify-content-center align-items-center" style="height: 100%;padding: 0px;"><i class="fa fa-search d-flex justify-content-center align-items-center" style="color: rgb(255,255,255);margin-right: 9px;"></i></div>
                                <div class="col-10" style="height: 100%;"><input class="form-control search-field" type="search" id="search-field" name="search" style="background-color: #2F502F;width: 100%;"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </nav>



    <div id="wrapper">
        <div id="sidebar-wrapper" style="background-color: #032103;padding-bottom: 9px;">
            <div><a class="btn d-xl-flex justify-content-xl-start" aria-expanded="true"  href="/" role="button" style="width: 100%;font-family: Roboto, sans-serif;font-size: 14px;color: #ffffff;">Популярные товары</a></div>
            <div><a class="btn d-xl-flex justify-content-xl-start" aria-expanded="true"  href="/sales" role="button" style="width: 100%;font-family: Roboto, sans-serif;font-size: 14px;color: #ffffff;">Скидки</a></div>

            {% for category in categories %}
            <div><a class="btn d-xl-flex justify-content-xl-start" data-toggle="collapse" aria-expanded="true" aria-controls="collapse-{{ category.id }}" href="#collapse-{{ category.id }}" role="button" style="width: 100%;font-family: Roboto, sans-serif;font-size: 14px;color: #c9c9c9;">{{ category.name }}</a>
                <div class="collapse" id="collapse-{{ category.id }}">
                    <ul class="nav nav-tabs border-0" style="width: 100%;">
                        {% for childcategory in category.category_set.all %}
                            <li class="nav-item" style="width: 100%;margin-bottom: 0px;"><a class="nav-link" href="/category/{{ childcategory.slug }}"style="width: 100%;font-size: 12px;color: #9b9999;background-color: #053205;font-family: Roboto, sans-serif;">{{ childcategory.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

            </div>
            {% endfor %}
        </div>

        <div class="page-content-wrapper">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    <script src="/static/assets/js/jquery.min.js"></script>
    <script src="/static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/assets/js/chart.min.js"></script>
    <script src="/static/assets/js/bs-init.js"></script>
    <script src="/static/assets/js/Sidebar-Menu.js"></script>
</body>

</html>
