{% extends 'index.html' %}
{% block content %}
<div class="container-fluid"><a class="btn btn-link" role="button" id="menu-toggle" href="#menu-toggle"><i class="fa fa-bars" style="color: #4e7e4e;"></i></a>
    <div class="row">
        <div class="col-12 col-sm-auto col-md-auto col-lg-auto col-xl-auto" style="margin-top: 30px;width: 100%;">
            <div class="row" style="margin-bottom: 0px;margin-top: 25px;max-width: 95%;">
                <div  class="col-md-12 col-lg-6 col-xl-7" style="margin-bottom: 0px;padding-left: 0px;margin-left: 0px;padding-right: 0px;">
                    <h1 style="font-family: 'Roboto Slab', serif;font-size: 28px;font-weight: 700;color: rgb(51,51,51);">{{ products.name }}</h1>
                    {% if products.description|length > 1 %}
                    <h1 style="font-family: Roboto, sans-serif;font-size: 14px;color: rgb(155,153,153);">Описание</h1>
                    <p style="padding-left: 10px;font-family: Roboto, sans-serif;font-size: 14px;color: rgb(51,51,51);">{{ products.description|linebreaksbr }}</p>
                    {% endif %}
                    {% if products.composition|length > 1 %}
                    <h1 style="font-family: Roboto, sans-serif;font-size: 14px;color: rgb(155,153,153);">Состав</h1>
                    <p style="padding-left: 10px;font-family: Roboto, sans-serif;font-size: 14px;color: rgb(51,51,51);">{{ products.composition|linebreaksbr }}</p>
                    {% endif %}
                    {% if products.weight|length > 1 %}
                    <h1 style="font-family: Roboto, sans-serif;font-size: 14px;color: rgb(155,153,153);">Вес. {{ products.weight|linebreaksbr }}</h1>
                    {% endif %}
                    <h1 class="text-center" style="font-family: Roboto, sans-serif;font-size: 16px;color: rgb(0,0,0);">Статистика цен</h1>
                    <div id="chart_div" style="width: 100%;"></div>
            </div>
                <div class="col-md-12 col-lg-6 col-xl-5" style="padding-left: 0px;padding-right: 0px;">
                    <div class="row text-center d-sm-flex d-lg-flex d-xl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-lg-center justify-content-xl-center slider-for" id="uyt" style="background-color: rgba(0,0,0,0);padding-left: 0px;margin-left: 0px;">
                        <div class="col-12 col-sm-12 col-md-10 col-xl-8 text-center m-auto" style="margin-left: 0px;">
                            <img class="img-thumbnail center-block" id="first" src="{{products.large }}" style="width:100%;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}