{% extends 'index.html' %}
{% block content %}
    <style>
    @media (min-width: 993px) {
  .col-xl-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20% !important;
    flex: 0 0 20% !important;
    max-width: 20%;
  }
}
    </style>
<div class="container-fluid"><a class="btn btn-link" role="button" id="menu-toggle" href="#menu-toggle"><i class="fa fa-bars" style="color: #4e7e4e;"></i></a>
                <div class="row">
                    <div class="col-12 col-sm-auto col-md-auto col-lg-auto col-xl-auto" style="margin-top: 30px;width: 100%;padding-left: 0px;padding-right: 0px;">
                        <h1 class="text-center" style="margin-bottom: 4px;margin-top: -20px;font-size: 34px;">{{ category.name }}</h1>
                        <div class="row">
                            {% for obj in products%}
                                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-3" style="padding: auto;padding-top: 20px;padding-right: 20px;padding-bottom: 20xp;padding-left: 20px;">
                                <div class="block__inner">
                                    <a href="{{ obj.get_absolute_url }}"><img class="image" src="{{ obj.large }}" style="padding: 3px;max-width: 100%;object-fit: scale-down;"></a>
                                </div>
                                {% if obj.pricecheanges_set.last.price  < obj.pricecheanges_set.last.old_price %}
                                <s style="color: #57cc0f;"><h2 style="margin-bottom: 0px;opacity: 0.91;font-size: 14px;font-family: Roboto, sans-serif;font-weight: 600;color: #57cc0f;">{{ obj.pricecheanges_set.last.old_price }}</h2></s>
                                {% endif %}
                                <h2 style="margin-bottom: 0px;opacity: 0.91;font-size: 24px;font-family: Roboto, sans-serif;font-weight: 600;">{{ obj.pricecheanges_set.last.price }}</h2>
                                <h2 style="margin-bottom: 0px;opacity: 0.91;font-size: 14px;font-weight: 400;font-family: Roboto, sans-serif;color: rgb(51,51,51);">{{ obj.name|truncatechars:52 }}</h2>
                                <h2 style="margin-bottom: 0px;opacity: 0.91;font-size: 14px;font-weight: 400;font-family: Roboto, sans-serif;color: rgb(139,152,164);">{{ obj.display_weight }}</h2>
                                </div>
                            {% endfor %}
                        </div>
                        <footer class="rounded-0" style="margin-top: 17px;">
                            <nav class="text-center d-xl-flex justify-content-xl-center">
                                <ul class="pagination">
                                    {% if products.has_previous %}
                                        <li class="page-item"><a class="page-link" href="?page={{ products.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                                    {% endif %}
                                    {% for page in products.paginator.page_range %}
                                        <li class="page-item"><a class="page-link" href="?page={{page}}">{{ page }}</a></li>
                                    {% endfor %}
                                    {% if products.has_next %}
                                        <li class="page-item"><a class="page-link" href="?page={{ products.next_page_number }}" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </footer>
                    </div>
                </div>
            </div>
{% endblock %}



